{% extends "base.html.twig" %}

{% block main %}
    <h1>{{ category.title }}</h1>
    {{ category.description|raw }}

    <hr>

    <h2>Posts in {{ category.title }}</h2>
    <ul>
        {% for post in posts %}
        <li>
            <h3>
                <a href="{{ path('post_show', {'slug': post.slug}) }}">
                    {{ post.title }}
                </a>
            </h3>
            <p>{{ post.category.title }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}